<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        
        
        <div class="titulo-ingreso-datos">
            <br>
            <h2 > Registra los datos del nuevo producto:</h2>
            <br>
        </div>

        <ul class="errores"></ul>
            
        <form class="ingreso-datos" action="/product/edit/<%= planta.id %>?_method=PUT" enctype="multipart/form-data" method="POST">
            <div>
                <label nombre> Nombre </label>
                <input type="text" id="nombre" name="nombre" value="<%= planta.nombre %>">
            </div> 
            <div>
                <label descuento> Descuento </label>
                <input type="text" id="descuento" name="descuento" value="<%= planta.descuento %>">
            </div> 
            <div>
                <label descuento> Categoria </label>
                <input type="text" id="categoria" name="categoria" value="<%= planta.categoria %>">
            </div> 
            <div>
                <label descuento> Tamaño </label>
                <input type="text" id="tamano" name="tamano" value="<%= planta.tamano %>">
            </div> 
            <div>
                <label imagen> Imagen </label>
                <input type="file" id="imagen" name="imagen" value="<%= planta.imagen %>">
            </div>
            <div>
                <label precio> Precio </label>
                <input type="text" id="precio" name="precio" value="<%= planta.precio %>">
            </div> 
            <div class="botones">
                <div>
                    <input class="boton_enviar" type="submit" value="Guardar">
                </div>
            </div>
        
        </form>
        
        </main>

        <%- include('../partials/footer.ejs') %>
        <script src="/js/productAddValidator.js"></script>
    </body>
</html>