<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <form action="/productCart" method="post">
            <div class="carrito">
                <h3>Carrito de compras</h3>
                <br>
            </div>
            <div>
                <% for (let i=0; i<carrito.length; i++) {  %>    
                    <div>                                    
                        <img src="/images/<%= carrito[i].imagen %>" alt="planta1" class="carrito_img">
                        <span class="name"><%= carrito[i].nombre %></span>
                        <span class="discount"><%= carrito[i].descuento %></span>
                        <span class="price"><%= carrito[i].precio %></span>
                        <span>
                            <form action="/productCart/<%= carrito[i].id %>?_method=DELETE" method="post">
                                <button class="boton_carrito">X</button>
                            </form>
                        </span>
                    </div>
                <% }  %> 
            </div>
            <form action="/comprar" method="get">
                <button>Comprar</button>
            </form>
            <form action="/productList" method="get">
                <button>Ver más productos</button>
            </form>
            <br>        

        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>