<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        
        
        <div class="titulo-ingreso-datos">
            <h2 > Registra los datos del nuevo producto:</h2>
        </div>
            
        <form class="ingreso-datos" action="/productEdit/<%= planta.id %>?_method=PUT" method="POST">
            <div><input type="text" name="nombre" value="<%= planta.nombre %>"></div> 
            <div><input type="text" name="descuento" value="<%= planta.descuento %>"></div> 
            <div><input type="text" name="imagen" value="<%= planta.imagen %>"></div>
            <div><input type="text" name="precio" value="<%= planta.precio %>"></div> 
            <div class="botones">
                <div><input class="boton_enviar" type="submit" value="Guardar"></div>
            </div>
        
        </form>
        
        </main>

        <%- include('../partials/footer.ejs') %>
        
    </body>
</html>